* {
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  padding: 16px;
  /* width: 1200px; */
  min-height: 100vh;
  font-family: sans-serif;
}

.wrapper {
  // margin: 0px auto;
  width: 1200px;
  height: 680px;
  display: grid;
  grid-template-columns: 884px 300px;
  gap: 16px;
}

.graph {
  border: 1px solid #000000;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #000000;
}

.dataWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.dataColumn {
  display: grid;
  grid-template-rows: 16px 16px 16px;
  gap: 4px;

  & span {
    font-size: 14px;
  }
}

.dataTitle {
  margin: 0px;
  font-size: 14px;
}

.dataTitleButton {
  padding: 0px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  text-align: left;
}

.notActive {
  opacity: 0.4;
}

.dataDesc {
  font-size: 14px;
}

.medianWrapper {
  display: flex;
  gap: 4px;
}

.medianBlock {
  display: inline-block;
  height: 16px;
  width: 50px;

  background: #4E79A7;
}

.teamlead {
  background: #B07AA1;
}
.senior {
  background: #4E79A7;
}
.middle {
  background: #76B7B2;
}
.junior {
  background: #59A14F;
}